body {
  background-color: rgb(144, 190, 236);
  text-align: center;
  padding: 0px;
  /* background-image: '../static/Images/mercedes_logo.jpg';
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-image: cross-fade(); */
}
button {
  /* --btn-bd-primary-weight: 600; */
  padding-left: 21px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: rgb(5, 5, 5);
  border:10px;
  border-radius:5px;
  border-color: black;
  block-size: fit-content;
  background-color:beige;
  /* --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)}; */ 
  position:center;
}

