<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercedes Benz Green Manufacturing</title>
    <!-- <link rel="stylesheet" href="../static/css/main.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family='Inconsolata', monospace;">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <div style="color:rgb(2, 5, 0);">
        <form action="{{ url_for ('predict') }}" method="post">
            <h2> Mercedes Benz Green Manufacturing</h2>
            <h2> Test bench Predictions</h2>
            <h3>X0</h3><select name="X0" id="first" required="required">
                {% for i in X0_variable %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <h3>X2</h3><select name="X2" id="second" required="required">
                {% for i in X2_variable %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            {% for column_i in column %}
            <h3 style="margin-bottom: 0px;">{{column_i}}</h3>
            <input id="{{column_i}}" name="{{column_i}}" required="required"
                style="padding-top:5px;border-radius:10px;;">
            {% endfor %}
            <br><br><button id="sub" type="submit ">Check the Time spent on test bench</button>
            <br>
        </form>

    </div>
</body>

</html>