<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercedes Benz Green Manufacturing</title>
    <link rel="stylesheet" href="../static/css/predict.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family='Inconsolata', monospace;"> -->

</head>

<body>
    <h2> Mercedes Benz Green Manufacturing</h2>
    <h2> Test bench Predictions</h2>
    <br>
    <h2 style="color:rgb(1, 9, 1);">{{ prediction_text }}</h2>
    <br>
    <button>
        <a href="/" id="home">Return to Homepage</a>
    </button>
</body>

</html>